@model SmartTicketingSystem.Models.BOOKING

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BOOKING</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingReference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingReference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.member_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.member_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancellationReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancellationReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancelledAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancelledAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
