@model SmartTicketingSystem.Models.ORGANIZER_UNIT

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ORGANIZER_UNIT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unitTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unitTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrganizerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
