@model SmartTicketingSystem.Models.ATTENDANCE

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ATTENDANCE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.member_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.member_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckedInAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckedInAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckInStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckInStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AttendanceID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
