@model SmartTicketingSystem.Models.PUBLIC_EVENT_REQUEST

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PUBLIC_EVENT_REQUEST</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requestFullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requestFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.eventTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.eventTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proposedDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proposedDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VenueorMode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VenueorMode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reviewedNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reviewedNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReviewedByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReviewedByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="requestID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
