@model SmartTicketingSystem.Models.WAITING_LIST

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WAITING_LIST</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WaitingListID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
