@model SmartTicketingSystem.Models.TICKET_TYPE

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TICKET_TYPE</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.seatLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.seatLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salesStartAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salesStartAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.salesEndAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.salesEndAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
