@model SmartTicketingSystem.Models.TICKET

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TICKET</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QRcodevalue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QRcodevalue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.issuedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.issuedAt)
        </dd>
    </dl>
    <h4>QR Code</h4>
    <img src="@Url.Action("Qr", "TICKETs", new { id = Model.TicketID })"
         alt="QR Code"
         style="width:200px;height:200px;" />

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TicketID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

