@model SmartTicketingSystem.Models.BOOKING_ITEM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BOOKING_ITEM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TicketTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineTotal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingItemID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
