@model IEnumerable<SmartTicketingSystem.Models.BOOKING_ITEM>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketTypeID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketTypeID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineTotal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingItemID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingItemID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
