@model SmartTicketingSystem.Models.EVENT

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EVENT</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.endDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.endDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.venue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.venue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOnline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOnline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.onlineLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.onlineLink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccessibilityInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccessibilityInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.visibility)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.visibility)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.organizerInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organizerInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agenda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.maplink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.maplink)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.organizerUnitID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.organizerUnitID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.categoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.categoryID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApprovalID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApprovalID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.eventID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
