@model SmartTicketingSystem.Models.INQUIRY

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>INQUIRY</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandleByUserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandleByUserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HandleAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HandleAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResponseNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResponseNote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InquiryID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
