@model SmartTicketingSystem.Models.BOOKING_PROMO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BOOKING_PROMO</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookingCodeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookingCodeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppliedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppliedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingPromoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
